/********************************************
   AUTHOR:  			Erwin Aligam
   WEBSITE:   			http://www.styleshout.com/
	TEMPLATE NAME: 	Stylevantage - blue
   TEMPLATE CODE: 	S-0001
   VERSION:          1.0
 *******************************************/


/********************************************
   HTML ELEMENTS
********************************************/

/* top elements */



 






* {
	margin: 0; padding:0;
    
}
body {
	margin: 0; padding: 0;
	font: 69%/2.5em  Verdana, 'Trebuchet MS', Arial, Sans-serif;
/*	background: url(new2.png) repeat-x;*/
	color: #666666;
	text-align: center;

}

/* links */
a {
	background: inherit;
/*	color: #3182C0;*/
    color: #333;
}
a:hover {
	background: inherit;
	color: #72A545;
}

/* headers */
h1, h2, h3 {
	font: bold 1em 'Trebuchet MS', Tahoma, Sans-serif;
	text-transform: uppercase;
	color: #555;
     
}
h1 { font-size: 1.4rem; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; text-transform: none;}

#main h1, #rightbar h1 {
	padding: 0% 0% 1% 0%;
	margin: 0 0 0 4%;
	text-transform: uppercase;
	border-bottom: 1% solid #f2f2f2;
}

/*left sidebar . background first one length, second one height*/


 

 
/*better to use pixels at the moment*/
p, h1, h2, h3 {
	margin: 1% 4% 2% 4%;
}
p{
    
    font-size:1.1em;
    justify-content:flex-end;
    align-content: flex-end;
    text-align:justify;
}
.quote{
    
    font-size:1.1em;
    text-align: center;
    padding-right: 22%;

}

.author{
    
    font-size:1.1em;
    text-align: right;
    padding-right: 22%;
    padding-bottom: 10%;

}
ul, ol {
	margin: 1% 3%;
	padding: 0% 6%;
	color: #3182C0;
}
ul span, ol span {
	color: #666666;
}

/* images */
img {
/*	border: 2px solid #CCC;*/
}
img.float-right {
  margin: 5px 0px 5px 15px;
}
img.float-left {
  margin: 5px 15px 5px 0px;
}
a img {
/*  border: 2px solid #3791D7;*/

}
a:hover img {
  border: 2px solid #806B4D !important; /* IE fix*/
  border: 2px solid #3791D7;
}

/*code at the main page, can be copied to elsewhere*/
code {
  margin: 1% 2.3%;
  padding: 3%;
  text-align: left;
  display: block;
  overflow: auto;
  font: 500 1em/1.8em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 2% solid #f2f2f2;
  border-left: 15% solid #3182C0;
    width:auto;
    height: auto;
}
acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}
blockquote {
	margin: 1% 4%;
 	padding: 0 0 0 2%;
  	background: #FAFAFA url(quote.gif) no-repeat 5px 10px !important;
	background-position: 4% 5%;
	border: 1px solid #f2f2f2;
	/* border-left: 1px solid #3182C0;  */ /* left column was bolder*/
	font-weight: bold;
}

/* form elements */
form {
	margin:1% 4%; padding: 0;
	border: 1px solid #f2f2f2;
	background-color: #FAFAFA;
    
}
label {
	display:block;
	font-weight:bold;
	margin:1% 2%;
}
input {
	padding: 4px;
	border:1px solid #eee;
	font: normal 1em/1.5em Verdana, sans-serif;
	color:#777;
}
textarea {
	width:80%;
	padding:2%;
	font: normal 1em/1.5em Verdana, sans-serif;
	border:1px solid #eee;
	height:100%;
	display:block;
	color:#777;
}

 
 

/*****************/
/*    Layout     */
/*****************/
#wrap {
	margin: 0 auto;
   width: 75%;
	text-align: left;
	background: #FFF;
    
}

/* ana menünün şeyisi*/
#content-wrap {
	clear:both;
   margin:1% 13%  ; padding:0;
	width: 75%;
}

/* header. Could not change the pixel into % */
#header {
	position: relative;
	background:#333 url(headerbg-blue.gif) repeat-x;
	height: 84px;
    text-align: center;
	 /*border: yellow solid 4px;*/
	 width: 100%;
    top:25%;  
/*    margin-bottom: 1%;*/
}
#header h1#logo {
	position: absolute;
	margin: 0; padding: 0% 0%;
	font: bolder 4.1em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -1px; /* space between the charachters in the logo*/
	color: #CCC;
	text-transform: lowercase;
	/* change the values of top and Left to adjust the position of the logo*/
	top: 5%; left:39%;
}
#header h2#slogan {
	position: absolute;
	margin: 0; padding: 0% 43%;
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #FFF;
	/* change the values of top and Left to adjust the position of the slogan*/
	top:65%; left:0%;
}
/*
#header .searchform {
	position: absolute;
	top: 15%; right: 1%;
	border: solid yellow 3px;
}
*/

/* main column */
#main {
	float: left;
	margin-left: 2%;
	padding: 0;
	width: 55%;
    margin-top: 5%;
/*	border: 3px solid #101010;*/
}

.post-footer {
	background-color: #FAFAFA;
	padding: 5px; margin-top: 20px;
	font-size: 95%;
   
	border: 1px solid #f2f2f2;
     
}
.post-footer .date {
	background: url(clock.gif) no-repeat left center;
	padding-left: 5%; margin:margin: 5% 5% 5% 5%;
}
.post-footer .comments {
	background: url(comment.gif) no-repeat left center;
	padding-left: 4%; margin: 5% 5% 5% 5%;
}
.post-footer .readmore {
	background: url(page.gif) no-repeat left center;
	padding-left: 3%; margin: 5% 5% 5% 5%;
}

/* sideabar */
#sidebar {
	float: left;
	width: 18%;
	margin: 0;	padding: 0;
	display: inline;
    margin-top: 5%;
     border-left: 3px solid #101010; 
    border-right: 3px solid #101010; 
    border-bottom: 3px solid #101010; 
     
}


#sidebar h1 {
    font-size:1.4em;
	padding: 5% 2% 5% 2%;
    text-align: center;
    color: white;
/*	background: url(square_arrow.gif) no-repeat 5% 50%;*/
	margin: 0;
	text-transform: uppercase;
    background: #333 url(new2.png) repeat center center;
    border-bottom: 2px solid #101010;
    border-top: 2px solid #101010;
    
    
   
/* background:  url(images/new.png) repeat center center;*/
    
}
#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 0px;
	padding-right: 0;
	text-decoration: none;
    padding-top: 2%;
    background: url(subtlenet2.png);
 
}

/* elemant borders here */
#sidebar ul.sidemenu li {
    font-size: 1.1em;
	border-bottom: 1px solid #EFF0F1;
/*	background: url(arrow.gif) no-repeat 2px 5px;*/
/*	padding: 2px 5px 2px 20px;*/
    padding: 1% 3% 5% 0%;
    
/*    border: 1px solid #EFF0F1;*/
}

* html body #sidebar ul.sidemenu li { height: 1%; }

#sidebar ul.sidemenu a {
	font-weight: bold;
	background-image: none;
	text-decoration: none;
      
}

   
/* rightbar */
#rightbar {
	float: right;
	width: 22%;
	padding: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

#rightbar h1
{
    margin top:75%;
    margin-bottom: 5%;
    text-align: left;
    padding-top: 25%;
    padding-bottom: 4%;
    padding-left:10%;
    
}

.align-right {
    
    padding-bottom: 2%;
}

/* footer */
#footer {
	clear: both;
	text-align: center;
    padding-top: 2%;
    width: 80%;
    text-align: center;
    align-content: center;
    margin: 0 auto;
     
}
#footer a {
	text-decoration: none;
	font-weight: bold;
       
}

/* menu */

#menu li{
    float: left;
	width: 10%;
    text-align: center;
    border-color: #3791D7;
    
    left:15%; top:15%;
    position:relative;
    list-style-type: none;
    font-size: 1.2em;
    margin-bottom:2%;
    margin-left: 3%;
    
         
}

#menu ul li a:link, a:visited {
	 
    
    color:black;
    background-color: #3791D7;
    width: 80%;
	padding: 4% 8% 6% 10%;
     margin: auto;
    align-self: center;
	text-decoration: none;
    display: inline-block;
    border: 2px solid black;
    background: #3791D7 url(subtlenet2.png) repeat center center;
 
}

#new2 ul {
   
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
       text-align: center;
    width: 50%;
/*    border: 3px solid #3791D7;*/
     
}


#footer ul {
   
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
       text-align: center;
    width: 50%;
 
     
}

#footer li {
    
    float: bottom;
    align-items: center;
    vertical-align: middle;
/*    padding-right: 5%;*/
   
    margin: auto;
    
}


#new2 li {
    
    float: left;
    align-items: center;
    vertical-align: middle;
/*    padding-right: 5%;*/
    padding-left:7%;
    
    margin: auto;
 
     margin-left:6%;
}

#new2 li a {
        
   margin: auto;
    display: block;
    color: white;
    text-align: center;
 padding: 14px 2px;
    text-decoration: none;
    font-size: 1.2em;
    
    
}

#new2 li a:hover:not(.active) {
    background-color: #111;
     
}

 


/* Alignment classes */
.float-left   { float: left;}
.float-right  { float: right; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center;	}
.align-justify { text-align: justify; }

/* display classes */
.clear { clear: both; }
.block { display: block; }
.hide  { display: none; }
.blue  {	color: #3791D7; }

h1{
	padding: 10px blue;
	margin: 20px orange;
}
