
<div> <div id="footer">
		<ul   >
			<li><a title="Index" href="index.html">All Rights Reserved 2017</a></li>
			<li><a title="Index" href="index.html">Kerim-Iordanis</a></li>
			 
		</ul>
	</div></div>
