 <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
	<script src="index.js"> </script>

			<div id="sidebar">

				<h1  >C Programming</h1>
				<ul class="sidemenu">
					<li><a href="pointers.html">Pointers</a></li>
					<li><a href="memory.html">Memory Allocation</a></li>
					<li><a href="linked.html">Linked Lists</a></li>
					<li><a href="">Queues</a></li>
					<li><a href=" ">Trees</a></li>
                    <li><a href=" ">Stacks</a></li>
                    <li><a href="">Sorting Algorithms</a></li>
					<li><a href=" ">Selection Sort</a></li>
                    <li><a href=" ">Insertion Sort</a></li>
                    <li><a href=" ">Heap Short</a></li>
                    <li><a href=" ">Merge Sort</a></li>
                    <li><a href=" ">Quick Short</a></li>
                    <li><a href=" ">Hashing</a></li>
                    <li><a href=" ">Parsing</a></li>
				</ul>

				<h1>Java</h1>
				<ul class="sidemenu">
					<li><a href="">Object Oriented</a></li>
					<li><a href="">Testing</a></li>
					<li><a href="">Graphics</a></li>
      		</ul>

 

                <h1>Web Tech</h1>
				<ul class="sidemenu">
					<li><a href="">HTML</a></li>
					<li><a href="">CSS</a></li>
					<li><a href="">Databases</a></li>
					<li><a href="">Javascript</a></li>
					<li><a href="">Frameworks</a></li>
				</ul>

 

			</div>