  <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
	<script src="index.js"> </script>



<div id="rightbar">
 
  
                <a href="http://bristol.ac.uk">
<!--				<h1>More Text</h1>-->
				 <img src="images/coolLogo.jpg"   width= "75%" height="75%" alt ="Main Logo"    />
                </a> <br/>

    
                <h1>Wise Words</h1>
				<p class= "quote">&quot;Keep away from people who try to belittle your ambitions. Small people
				always do that, but the really great make you feel that you, too, can
				become great.&quot;</p>

				<p class="author">- Mark Twain</p>
                 
                  <a href="http://bristol.ac.uk">

				 <img src="images/wills.jpeg" width="75%" height="75%" alt ="Wills Photo" />
                </a>
			</div>
