
	<div id="header">

		<h1 id="logo">Learn<span class="blue">Programming</span></h1>
		<h2 id="slogan">Progamming with easy steps</h2>

<!--
		<form method="post" class="searchform" action="#">
			<p><input type="text" name="search_query" class="textbox" />
  			<input type="submit" name="search" class="button" value="Search" /></p>
		</form>
-->
	</div>


    <div id="new2">
		<ul   >
			<li  ><a title="anan" href="index.html">Home</a></li>
			<li><a title="test" href="index.html">Blog</a></li>
			<li><a href="index.html">Downloads</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="index.html">About us</a></li>
		</ul>
	</div>
